
body {
  margin: 0;
  text-align: center;
   background-color: #E4F9F5;

}

hr {
  height:4px;
  width: auto;
  border-width:0;
  color:gray;
  background-color:gray;
}

h1{
  margin: 0;
  font-size: 400%;
  font-family: 'Sacramento', sans-serif;
}

h3{
  text-align: left;
}

div{
  margin: auto;

  width: 90%;
}

p{
  text-align: left;
}

li{
  text-align: left;
}
.skills{
  margin-top: 5%;
}
.top-container{
 position: relative;
 padding-top: 100px;
}
.middle-container {

}
.bottom-container{
  margin-bottom: 10%;
}
.headshot-img{
  height: 200px;
  width: 200px;
}
.laptop-pic{
  height: 150px;
  width: 150px;
}
.country-dance{
  margin-top: 20px;
  width: 100%;
  border: 5px solid white;
}
.poster{
  width: 70%;
  border-color: black;
  color: white;
  margin-left: 15%;
  font-family: "Pacifico", cursive;
  font-size: 40px;
}
.background{
  background-color: black;
  width: 70%;
  padding-bottom: 20px;
  padding-top: 20px;
}
#title{
  text-align: center;
}
#posterdescription{
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}
.navbar p {
  background-color: #f0f0f0;
  border: 3px solid;
  border-color: black;
  padding: 8px 20px 8px 20px;
}
.flag>div>div{
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  top: 25%;
}
.flag>div{
  width: 100%;
  height: 50%;
  background-color: #4a0c05;
  top: 25%;
  position: relative;
}
.flag{
  background-color: #444f2d;
  height: 500px;
  width: 800px;
  border: 5px solid;
  border-color: #aebbc2;
  margin-top: 40px;
}
.flag img{
  height: 95%;
  width: 95%;
  border-radius: 50%;
  position: relative;
  top: 2.5%;
}
